doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1, user-scalable=0")    

    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/skeleton.css')

    script.      
      __INITIAL_STATE__ = !{JSON.stringify(initialState)}
      
    body
      .container
        .row
          .twelve.columns
            h3 Phonebook          
            #root !{markup}

    script(type='text/javascript', src='/dist/bundle.js')
